@import '../../../styles/card.scss';

h1 div {
    background: red;// Add some CSS here! What if you try to change the background?
    display: flex;
}

h1 span {
    font-size: 0.5em;
    margin: none;
}

h2 {
    font-size: 0.75em;
    margin: none;
}

.icon {
    margin: auto 10px auto auto;
}